div {
    display: flex;
}

.nav {
    background-color: #1B1F3B;
}

.nav a{
    margin: auto;
    float: right;
    padding: 10px 10px 10px 10px;
    color : #B0DB43;
    text-decoration: none;
}

.nav a:hover{
    transition: 0.7s;
    color : #B14AED;
}

.nav p{
    color: #fff;
}