body {
    font-family: sans-serif;
    align-items: center;
    justify-content: center;
    min-height: 200px;
}

.nav {
    height: 50px;
    display: flex;
    background-color: #5A7684;
}

.nav div {
    display: flex;
    background-color: #5A7684;
}

.nav a{
    margin: auto;
    padding: 10px 10px 10px 10px;
    color : #C5D1EB;
    text-decoration: none;
}

.nav a:hover{
    transition: 0.7s;
    color : #92AFD7;
}

.nav p{
    color: #fff;
}

.container{
    padding: 20px 0 20px 0;
}

.pure-form-stacked input[type=password], .pure-form-stacked input[type=email], .pure-form-stacked input[type=text]{
    margin: auto;
}

.pure-button-primary{
    margin: 20px 0 0 0;
}

.container form{
    text-align: center;
    margin: auto;
    width: 90vh;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    color: #000;
}

.error {
    color: red;
}

.cadre{
    text-align: justify;
    margin: auto;
    width: 90vh;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    color: #000;
}
  
.image1{
    background-image: url(../images/Fond1.jpg);
    min-height: 100vh;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}
.image2{
    background-image: url(../images/Fond2.jpg);
    min-height: 100vh;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}
.image3{
    background-image: url(../images/Fond3.jpg);
    min-height: 100vh;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}
.image4{
    background-image: url(../images/Fond4.jpg);
    min-height: 100vh;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}

.container table{
    margin: 0 auto 0 auto;
}